# Exercícios - Capítulo Dominando o Python

1) Imprima a frase "Eu sou Minerador de Dados!"

In [1]:
print('Eu sou Minerador de Dados!')

Eu sou Minerador de Dados!

2) Faça operações matemáticas de soma, subtração, multiplicação e divisão.

In [2]:
print(1+1)
print(1-1)
print(1*1)
print(1/2)

2
0
1
0.5

3) Imprima o tipo de um determinado valor inteiro.

In [3]:
a = 2
print(type(a))

<class 'int'>

4) Converta o valor passado anteriormente para o tipo float

In [4]:
print(type(float(a)))

<class 'float'>

5) Faça a conversão do valor float recebido anteriormente para o tipo string

In [8]:
a = float(2)
str(a)

'2.0'

6) Utilizando funções de arredonamento faça:
- Arredonde o valor 2.898
- Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais

In [9]:
round(2.898)

3

In [10]:
round(2.4545455, 4)

2.4545

7) Utilizando variáveis faça:
- Defina uma variável com o seu nome e imprima o seu valor.
- Imprima o tipo dessa variável.
- Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome, depois, imprima o novo valor.
    - obs: O resultado dessa variável será Nome Sobrenome, exemplo, Felipe Santana.
- Defina duas variaveis com os valores do seu email e idade com apenas uma linha de comando, depois, imprima seus valores.

In [16]:
name = 'Weslley'
print(name)

print(type(name))
name = name + ' Almeida'
print(name)

Weslley
<class 'str'>
Weslley Almeida

In [17]:
email, idade = 'weslley@bol.com', 25
print(email, idade)

weslley@bol.com 25

8) Explique a causa do erro se executar a seguinte instrução para criar uma nova variável: break=10

Invalid syntax, porque a variável 'break' é uma palavra reservada da linguagem

9) Sobre os objetos Strings, faça:
- Defina uma variavel com a string: "Python é uma maldição!" e imprima
- Imprima o primeiro caracter da variavel.
- Imprima os valores do primeiro caracter até o 6.
- Faça a contagem de todos os caracteres utilizando uma única linha de comando.
- Faça uma contagem de quantos vezes a palavra dados aparece na seguinte frase:
    - "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
- Substitua o primeiro caracter da frase acima para maiúsculo
- Quebre as palavras da frase separado por virgula, criando uma lista.

In [27]:
aux = 'Python é uma maldição!'
print(aux)
aux[0]

Python é uma maldição!

'P'

In [22]:
aux[0:6]

'Python'

In [23]:
len(aux)

22

In [38]:
aux2 = 'dados é o novo petróleo, em Deus eu confio, para o resto me traga dados'
aux3 = aux2.split(' ')
cont = 0
for i in aux3:
    if i == 'dados':
        cont += 1
print(cont)

aux2.count('dados')
aux2 = aux2.capitalize()
print(aux2)

aux2.split(',')

2
Dados é o novo petróleo, em deus eu confio, para o resto me traga dados

['Dados é o novo petróleo',
 ' em deus eu confio',
 ' para o resto me traga dados']

10) Trabalhando com Listas, faça:
- Cria uma lista de valores inteiros com o nome idades.
- Imprima apenas segundo elemento da lista.
- Imprima a contagem de valores da lista.
- Substitua o valor do segundo elemento da lista e imprima o resultado.
- Imprima apenas os valores do segundo elemento em diante.
- Remova qualquer elemento da lista e imprima o resultado.
- Defina uma lista chamada salarios com os valores : 900,1200,1500,800,12587,10000.
- Verifique se contém o valor 10000 na lista de salarios.
- Imprima o menor e maior valor da lista.
- Adicione o valor 7000 a lista.
- Extenda a lista com dois novos elementos utilizando apenas um método.
- Imprima o índice do elemento de valor 800 da lista de salarios.
- Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [79]:
idades = [20, 27, 25, 4, 43, 44]
print(idades[1])
len(idades)

27

6

In [80]:
idades[1] = 99
idades

[20, 99, 25, 4, 43, 44]

In [81]:
print(idades[1:])

[99, 25, 4, 43, 44]

In [82]:
idades.remove(43)
idades

[20, 99, 25, 4, 44]

In [83]:
salarios = [900, 1200, 1500, 800, 12587, 10000]
10000 in salarios

True

In [84]:
print(min(salarios))
print(max(salarios))

800
12587

In [85]:
salarios.append(700)
salarios

[900, 1200, 1500, 800, 12587, 10000, 700]

In [86]:
salarios.extend([100, 200])
salarios

[900, 1200, 1500, 800, 12587, 10000, 700, 100, 200]

In [87]:
salarios.index(800)

3

In [94]:
salarios.sort()
salarios

[100, 200, 700, 800, 900, 1200, 1500, 10000, 12587]

In [95]:
salarios.sort(reverse = True)
salarios

[12587, 10000, 1500, 1200, 900, 800, 700, 200, 100]