# Python para Análise de Dados - Exercícios

<font color=blue><b> Data Science do Zero </b></font><br>

1) Importe a biblioteca Pandas

In [2]:
import pandas as pd

2) Leia a base de dados **kc_house_data.csv** localizada no diretorio **datasets** e crie um Dataframe chamado **df**.

In [4]:
df = pd.read_csv('kc_house_data.csv')

3) Utilizando o Dataframe criado faça:
- a) Conte a quantidade de linhas.
- b) Imprima as informações do Dataframe.
- c) Imprima o nome das colunas do Dataframe.
- d) Imprima as informações estatisticas da coluna **bedrooms**.
- e) Imprima os valores únicos da coluna **bedrooms**.
- f) Imprima o valor médio da coluna **bathrooms**.

## 3) Respostas##

**a) Conte a quantidade de linhas.**

In [ ]:
df.count()

**b) Imprima as informações do Dataframe.**

In [ ]:
df.info()

**c) Imprima o nome das colunas do Dataframe.**

In [ ]:
df.columns

**d) Imprima as informações estatisticas da coluna bedrooms.**

In [ ]:
df.bedroos.describe()

**e) Imprima os valores únicos da coluna bedrooms.**

df.bedrooms.unique()

**f) Imprima o valor médio da coluna bathrooms.**

In [ ]:
df.bathrooms.mean()

4) Some a quantidade de valores nulos de cada coluna do Dataframe.

**Resposta**

In [ ]:
df.isnull.count()

5) Remova as linhas onde tenha pela menos um registro faltante em algum atributo.

**Resposta**

In [ ]:
df.dropna(inplace=True)

6) Preencha com 1 os values null da coluna bedrooms.

**Resposta**

In [ ]:
df['bedrooms'].fillna(1, inplace=True)

6) Com os seus conhecimentos em consultas faça:
- a) Retorne todos os imoveis que tenham o número de **bathrooms maior que 1**.
- b) Retorne todos os imoveis que tenham a quantidade **de bedrooms igual a 4**.
- c) Conte o retorno da consulta anterior.
- d) Ordena o Dataframe pela coluna **price** em **ordem decrescente**.
- e) Agrupe e conte quantidade de imóveis por tamanho de quartos.

**a)**

In [6]:
df.loc[(df['bathrooms']>1)]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4.0,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3.0,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21606,7936000429,20150326T000000,1007500.0,4.0,3.50,3510,7200,2.0,0,0,...,9,2600,910,2009,0,98136,47.5537,-122.398,2050,6200
21607,2997800021,20150219T000000,475000.0,3.0,2.50,1310,1294,2.0,0,0,...,8,1180,130,2008,0,98116,47.5773,-122.409,1330,1265
21608,263000018,20140521T000000,360000.0,3.0,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4.0,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21611,291310100,20150116T000000,400000.0,3.0,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287

**b)**

In [ ]:
df.loc[(dataset['bedrooms']==4)]

**c)**

In [ ]:
df.loc[(dataset['bedrooms']==4)].count()

**d)**

In [ ]:
df.sort_values(by='price', ascending=False)

**e)**

In [ ]:
pd.value_counts(dataset['bedrooms'])

7) Crie uma coluna que seja a soma das colunas **bathrooms** e **bedrooms** com o nome **comodos**

**Resposta**

In [ ]:
df['comodos'] = (df['bathrooms']+df['bathrooms'])

8) Visualize em formato de **histograma** a distribuição dos imoveis por preço.

**Resposta**

In [ ]:
%matplotlib notebook
df['price'].plot()

9) Visualize em formato disperção os imoveis utilizando as colunas **bathrooms** e **price**.

**Resposta**

In [ ]:
df.plot(x='bedrooms',y='price',kind='scatter', title='Bedrooms x Price',color='r')

10) Gere uma **planilha do Excel** a partir do Dataframe criado.

**Resposta**

In [ ]:
df.to_excel('datasets/planilha_house.xls',index=False)